/* --------------------- */
/* --------- Home Header ------------ */
/* --------------------- */

header {
  display: flex;
  justify-content: space-between;
  /* background-color: bisque; */
  align-items: center;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.logo {
  height: 40px;
}

.header-button-log-sign .sign-up {
  margin-left: 20px;
  background: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.header-button-log-sign .login {
  margin-left: 20px;
  background: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.sold {
  margin-left: 20px;
  background: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.deconected {
  margin-left: 20px;
  background: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}
header input {
  font-size: 16px;
  height: 37px;
  width: 590px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f5f6f7;
  padding-left: 40px;
}

/* --------------------- */
/* --------- Home Hero ------------ */
/* --------------------- */

.picture-background {
  width: 100%;
  height: 455px;
  object-fit: cover;
  /* background-position: 50px; */
  background-image: url(https://static.vinted.com/assets/seller-promotion/other/banner-wide-9b45d0aa9a311c4ff6013e9cf3bc2b6646468be3d2f553192c63598685fcc177.jpg);
  background-size: cover;
  background-position: center;
  /* position: relative; */
  display: flex;
}

.ready {
  background-color: white;
  height: 220px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 34px;
  border-radius: 3px;
  padding: 25px;
  margin-top: 50px;
  margin-left: 200px;
  /* position: absolute; */
  /* top: 75px; */
}

.ready button {
  /* background-color: blueviolet; */
  margin-top: 20px;
}

/* --------------------- */
/* --------- Sign-up ------------ */
/* --------------------- */

.signup-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid sandybrown; */
  margin-top: 100px;
}

.signup-form {
  /* background-color: lightpink; */
  /* wwidth: 280px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 300px;
}

form h2 {
  font-size: 24px;
}

input {
  /* background: lightseagreen; */
  padding: 1px 0px;
  width: 270px;
}

.signup-form input {
  border: none;
  border-bottom: 1px solid pink;
  margin-bottom: 20px;
  height: 35px;
}

.checkbox-container {
  display: flex;
}

form p {
  padding: 10px;
  color: gray;
  font-size: 12px;
}
.submit {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

/* --------------------- */
/* --------- Home Offer------------ */
/* --------------------- */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 6px 16px;
}
.avatar-profil {
  /* background-color: aquamarine; */
  font-size: 20px;
  color: gray;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.picture-profil {
  border-radius: 50px;
  height: 40px;
}
.pictures-offers {
  border: 2px red solid;
  height: 360px;
  width: 230px;
  display: flex;
}

.picture-offer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.price-offer {
  font-size: 15px;
  color: grey;
}

.text-offer > span {
  font-size: 15px;
  color: grey;
  display: flex;
  flex-direction: column;
}

/* --------------------- */
/* --------- Login ------------ */
/* --------------------- */

.login-container {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form p {
  font-size: 24px;
  color: black;
}

.online {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

.login-form input {
  border: none;
  border-bottom: 1px solid pink;
  margin-bottom: 20px;
  height: 35px;
}

.link {
  color: gray;
}
